@tailwind base;
@tailwind components;
@tailwind utilities;

 .main{
  
  /*background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(175,23,251,1) 0%, rgba(248,179,179,1) 48%, rgba(248,179,178,0.9790849445246849) 61%, rgba(249,84,53,1) 100%, rgba(248,192,118,1) 100%, rgba(236,146,20,1) 100%);
 */
 /*background-image: url("../bg-img/bg_bggenerator_com.png");*/
background-image: linear-gradient(to right top, #e9c8dc, #e5c0d3, #f7d1df, #e5bdc7, #dfc2d6, #f1cfd2, #d5bcbf, #e5cccd, #dcc5c7, #dfc1c5, #e5bac2, #edcdd4);  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main2 {
  background-image: url("../bg-img/about.jpg");

  /* Full height */
  height: 100%;
   
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*
  background: linear-gradient(90deg, #d7f5db 0%, #f5e6e6 100%);
 */
}

 
  
 .main2:hover{
   
   transition-duration: 1000ms;
   transition-timing-function:  ease-in-out;
   box-shadow: 0 0 50px 15px #bfdff1;
 }

 #name,#name2{
    opacity: 0;
    animation: fadeIn 4s ease-in-out forwards;
 }

 @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
 }
 /*.text_color{
 
background: repeating-linear-gradient(to right, #8890f9 0%, #ef8987 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 }
 .text_color:hover{
   text-shadow: #bfdff1;
 }*/
 .vl {
   border-left: 6px solid green;
   height: 500px;
   position: absolute;
   left: 50%;
   margin-left: -3px;
   top: 0;
 }

 div.card > *{
  background: #cacbcb;
 }

 #background{
  background-color:#e1d7f9;
 }
